.card {
  background: $white;
  border-radius: 10px;
  box-shadow: -2.08px 10px 38px #00000026;
  padding: 20px 20px 24px 30px;

  display: grid;
  grid-template-rows: 85px 1fr 1fr;

  &--ribbon {
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 104px;
      height: 33px;
      background: url(../../assets/card-ribbon.svg);
    }
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.card__title {
  font-size: 1.5em;
  font-weight: 400;
  color: $blue;
}
